<nav class="navbar navbar-expand-sm navbar-dark navbar-fixed-top">
 <!--  <a class="navbar-brand" href="#">Navbar</a> -->
 <app-titolo class="navbar-brand"></app-titolo>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
    <span class="navbar-toggler-icon"></span>
  </button>
 
  <div class="collapse navbar-collapse justify-content-end" id="menu">
    <ul class="navbar-nav ml-auto mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">Associazioni</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Iniziative</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="info">Info</a>
      </li>
    </ul>
  </div>
</nav>
