li a {
  color: white !important;
  font-weight: 600;
}

li:hover {
    background-color: rgba(0, 17, 250, 0.374);
    border: 2px solid yellow;
    border-radius: 10px;
    
}

li a:hover {
  color: yellow!important;
}


.nav-item {
  text-align: right;
}

@media only screen and (max-width: 576px) {

  ul {
    position: absolute;
    right: 0;
    top: 100%;
    animation: comparsa 0.3s ease-out;
    animation-fill-mode: forwards;
  }

  li a {
      text-align: center;
  }


  @keyframes comparsa {

    from {top:80%}
    to {top:100%}
      
  }
}
