<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-3">
                    <img src="../../assets/michele.jpg" alt="foto" width="70%">
                </div>
                <div class="col-9 my-auto">
                    <p>“Nasco studioso di filosofia, ma sto crescendo come sviluppatore front end grazie a diversi corsi di programmazione. La capacità di problem solving e il pensiero analitico sono i miei strumenti di lavoro.”</p>
                </div>
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-2">
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-9 my-auto">
                    <p>“Il mio punto di forza è l'immaginazione ed il non arrendersi mai. Il mio sogno nel cassetto è quello di aprire un'attività tutta mia inerente questo fantastico mondo che è la programmazione.”</p>
                </div>
                <div class="col-3">
                    <img src="../../assets/salvatore.png" alt="foto" width="75%">
                </div>
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-2">
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-3">
                    <img src="../../assets/Giuseppe.png" alt="foto" width="70%">
                </div>
                <div class="col-9 my-auto">
                    <p>“Cerco sempre nuove sfide e mi metto alla prova continuamente fissandomi degli obiettivi e cercando di raggiungerli. Mi piace restare sempre aggiornato sui nuovi linguaggi e sulle nuove tecnologie del settore IT, cercando cosi nuove soluzioni per ottimizzare il mio lavoro.”</p>
                </div>
             
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-2">
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-9 my-auto">
                    <p>“Appassionato e Studente di Informatica all’Università di Napoli Federico II, in quello che faccio presto attenzione ai dettagli, tendo ad imparare velocemente ed ho la propensione a trovare la soluzione più efficiente per un problema.”</p>
                </div>
                <div class="col-3">
                    <img src="../../assets/giorgio.jpeg" alt="foto" width="70%">
                </div>
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>
