.page {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
}

.pageLogo{
    position: absolute;
    margin-left: 160px;
    margin-top: 160px;
}

h2 {
    font-size: 7.8vw;
    text-align: center;
    font-weight: bold;
    color: #0472b3;
    margin-top: 30px;
    margin-bottom: 30px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 0 160px 0 160px;
    gap: 30px;
}

.info {
    font-size: 2vw;
    font-weight: bold;
}
.section img {
    width: 400px;
    height: 400px;
    border-radius: 40px;
}

.bg {
    height: 100vh;
    margin-top: -90px;
}

.logo {
    width: 470px;
    margin-left: auto;
    margin-right: auto;
}

/*/CSS PROFILI/*/

.whoCol {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.whoRow {
    display: flex;
    justify-content: center;
    gap: 30px
}

.profile {
    background-color: #0472b3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 400px;
    padding: 20px;
    color: white;
    border-radius: 20px;
}

.profile img {
    border-radius: 100%;
    width: 250px;
    height: 250px;
}

.profile h1 {
    font-size: 2em;
    font-weight: bold;
}

.profile p {
    text-align: center;
    font-weight: 600;
    font-size: 100%;
    height: 80%;
}

.profile button {
    color: black;
    font-size: 20px;
    font-weight: 600;
    width: 80%;
    height: auto;
    border-radius: 30px;
    border-style: none;
    background-color: #ffd500;
    margin: 5px auto;
}

@media only screen and (max-width: 600px) {
    .section img {
        display: none;
    }

    .section {
        margin: 20px;
    }
}
