<!--va solo fatto il responsive, non sono molto bravo in questo 🙁 -->

<div class="page">
    <img class="pageLogo" src="../../assets/logo.png">
    <img class="bg" src="../../assets/cover-info.png">
    <h2>UNITI PER L'UCRAINA</h2>
    <div class="infoContainer">
        <div class="section">
            <p class="info">
                Dopo due devastanti guerre mondiali,
                il mondo occidentale ha vissuto per decenni con la
                <span style="color: #0472b3">speranza</span>
                di vivere in un luogo
                <span style="color: #0472b3">pacifico</span> e
                con il desiderio che non si ripetessero le tragedie
                del passato. Con l’invasione russa dell’Ucraina,
                tuttavia, l’incubo di un conflitto generale è
                ritornato a sconvolgere le nostre vite e,
                soprattutto, le vite del
                <span style="color: #0472b3">popolo ucraino</span>.
            </p>
            <img src="../../assets/info1.png">
        </div>
        <div class="section">
            <img src="../../assets/info2.png">
            <p class="info">
                Giorno dopo giorno ascoltiamo e leggiamo notizie
                terribili sulla guerra in Ucraina e sui suoi
                effetti drammatici.
                Per questo motivo sentiamo il dovere morale,
                in quanto esseri umani, di fare qualcosa per
                andare in aiuto degli ucraini e sostenerli in
                questo periodo devastante.
            </p>
        </div>
        <img class="logo" src="../../assets/logo.png">
        <p class="info" style="text-align: center; margin: 0px 260px 0px 260px;">
            <span style="color: #0472b3; font-weight: 900">Charity Hub</span> ha come finalità quella di indirizzare
            qualunque tipo di aiuto umanitario rivolto all’Ucraina
            e di dare voce all’immensa sofferenza del popolo
            ucraino per diffondere la consapevolezza sulla
            tragedia della guerra.
        </p>
        <h2>CHI SIAMO</h2>
        <div class="whoCol">
            <div class="whoRow">
                <div class="profile">
                    <img src="../../assets/persone/dimarino.png">
                    <h1>Mario Di Marino</h1>
                    <p>
                        Mi chiamo, ho 23 anni e sono uno
                        studente della facoltà di informatica
                        dell’Università degli studi di Napoli
                        Parthenope. Sono appassionato di
                        informatica e tecnologia fin da piccolo
                        e non vedo l’ora di rendere la mia
                        passione il mio lavoro.
                    </p>
                    <button>
                        Scopri
                    </button>
                </div>
                <div class="profile">
                    <img src="../../assets/persone/maddaluno.png">
                    <h1>Francesco Maddaluno</h1>
                    <p>
                        Dalla passione per la programmazione nasce 
                        la mia voglia di vivere in questo settore. 
                        Sempre attento ai problemi e alla loro 
                        risoluzione, mi sono lanciato in questo 
                        progetto per aiutare chi ha voglia di 
                        aiutare ma esser sicuro di non incappare 
                        in truffe
                    </p>
                    <button>
                        Scopri
                    </button>
                </div>
                <div class="profile">
                    <img src="../../assets/persone/incardona.png">
                    <h1>Salvatore Incardona</h1>
                    <p>
                        Ciao, sono Salvatore Incardona e provengo 
                        dalla sicilia. Precisamente da Francofonte 
                        (SR), il paese delle Arance. Ho 28 anni e 
                        sto iniziando la mia carriera come web 
                        programmatore informatico. Il mio punto 
                        di forza è l'immaginazione ed il non 
                        arrendersi mai. Il mio sogno nel cassetto 
                        è quello di aprire un'attività tutta mia 
                        inerente questo fantastico mondo che è la 
                        programmazione.
                    </p>
                    <button>
                        Scopri
                    </button>
                </div>
            </div>
            <div class="whoRow">
                <div class="profile">
                    <img src="../../assets/persone/cernigliaro.png">
                    <h1>Michele Cernigliaro</h1>
                    <p>
                        Nasco studioso di filosofia, ma sto 
                        crescendo come sviluppatore front end grazie a 
                        diversi corsi di programmazione. 
                        La capacità di problem solving e il 
                        pensiero analitico sono i miei strumenti 
                        di lavoro.
                    </p>
                    <button>
                        Scopri
                    </button>
                </div>
                <div class="profile">
                    <img src="../../assets/persone/lauria.png">
                    <h1>Giuseppe Lauria</h1>
                    <p>
                        Sono Giuseppe Lauria vivo a Potenza e 
                        ho 29 anni. Sono uno studente universitario 
                        di Ingegneria Informatica, con la passione 
                        della tecnologia e dell'informatica in 
                        generale. Cerco sempre nuove sfide e mi 
                        metto alla prova continuamente fissandomi 
                        degli obiettivi e cercando di raggiungerli. 
                        Mi piace restare sempre aggiornato sui 
                        nuovi linguaggi e sulle nuove tecnologie 
                        del settore IT, cercando cosi nuove 
                        soluzioni per ottimizzare il mio lavoro.
                    </p>
                    <button>
                        Scopri
                    </button>
                </div>
                <div class="profile">
                    <img src="../../assets/persone/dinapoli.png">
                    <h1>Christian Di Napoli</h1>
                    <p>
                        Salve, sono Cristian Di Napoli e sono nato a 
                        Napoli. Sono un ragazzo di 19 anni con la 
                        passione per la programmazione. 
                    </p>
                    <button>
                        Scopri
                    </button>
                </div>
            </div>
            <div class="whoRow">
                <div class="profile">
                    <img src="../../assets/persone/rullo.png">
                    <h1>Marco Rullo</h1>
                    <p>
                        Mi occupo di contabilità aziendale e 
                        gestione dell’amministrazione. Mi sono 
                        avvicinando da poco al settore IT perché 
                        sono un appassionato dell’informatica. 
                        Sono un ragazzo preciso, dedito al lavoro 
                        e con una forte propensione al problem 
                        solving
                    </p>
                    <button>
                        Scopri
                    </button>
                </div>
                <div class="profile">
                    <img src="../../assets/persone/loffredo.png">
                    <h1>Giorgio Loffredo</h1>
                    <p>
                        Mi occupo di contabilità aziendale e 
                        gestione dell’amministrazione. Mi sono 
                        avvicinando da poco al settore IT 
                        perché sono un appassionato 
                        dell’informatica. Sono un ragazzo 
                        preciso, dedito al lavoro e con una 
                        forte propensione al problem solving
                    </p>
                    <button>
                        Scopri
                    </button>
                </div>
                <div class="profile">
                    <img src="../../assets/persone/iannicielloo.png">
                    <h1>Francesco Ianniciello</h1>
                    <p>
                        Mi chiamo Francesco Ianniciello, 
                        vivo a Scampia (NA) e la passione 
                        per l’informatica me l’ha trasmessa 
                        mio padre già da bambino, quando giocavo 
                        col commodore 64. Frequento un corso di 
                        automazione al Galileo Ferraris e mi 
                        sono immerso da poco nel mondo della 
                        programmazione grazie anche ad un corso 
                        di formazione.
                    </p>
                    <button>
                        Scopri
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>