<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-7 col-lg-3">
                    <img src="../../assets/michele.jpg" alt="foto" width="70%">
                </div>
                <div class="col-5 col-lg-9 my-auto">
                    <p>“Nasco studioso di filosofia, ma sto crescendo come sviluppatore front end grazie a diversi corsi di programmazione. La capacità di problem solving e il pensiero analitico sono i miei strumenti di lavoro.”</p>
                    <small>Michele Cernigliaro</small>
                </div>
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-2">
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-5 col-lg-9 my-auto">
                    <p>“Il mio punto di forza è l'immaginazione ed il non arrendersi mai. Il mio sogno nel cassetto è quello di aprire un'attività tutta mia inerente questo fantastico mondo che è la programmazione.”</p>
                    <small>Salvatore Incardona</small>
                </div>
                <div class="col-7 col-lg-3">
                    <img class="float-end" src="../../assets/salvatore.png" alt="foto" width="75%">
                </div>
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-2">
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-7 col-lg-3">
                    <img src="../../assets/Giuseppe.png" alt="foto" width="70%">
                </div>
                <div class="col-5 col-lg-9 my-auto">
                    <p>“Cerco sempre nuove sfide e mi metto alla prova continuamente fissandomi degli obiettivi e cercando di raggiungerli. Mi piace restare sempre aggiornato sui nuovi linguaggi e sulle nuove tecnologie del settore IT, cercando cosi nuove soluzioni per ottimizzare il mio lavoro.”</p>
                    <small>Giuseppe Lauria</small>
                </div>
             
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-2">
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-5 col-lg-9 my-auto">
                    <p>“Appassionato e Studente di Informatica all’Università di Napoli Federico II, in quello che faccio presto attenzione ai dettagli, tendo ad imparare velocemente ed ho la propensione a trovare la soluzione più efficiente per un problema.”</p>
                    <small>Giorgio Loffredo</small>
                </div>
                <div class="col-7 col-lg-3">
                    <img class="float-end" src="../../assets/giorgio.jpeg" alt="foto" width="70%">
                </div>
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-2">
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-7 col-lg-3">
                    <img src="../../assets/fraian.jpeg" alt="foto" width="70%">
                </div>
                <div class="col-5 col-lg-9 my-auto">
                    <p>“Ho sempre avuto la passione per l'informatica, fin da quando giocavo col commodore 64. Frequento un corso di automazione al Galileo Ferraris e e sono entrato anche nel mondo della programmazione.”</p>
                    <small>Francesco Iannicello</small>
                </div>         
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-2">
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-5 col-lg-9 my-auto">
                    <p>”Mi occupo di contabilità aziendale e gestione dell’amministrazione. Mi sono avvicinando da poco al settore IT perché sono un appassionato dell’informatica. Sono un ragazzo preciso, dedito al lavoro e con una forte propensione al problem solving.”</p>
                    <small>Marco Rullo</small>
                </div>
                <div class="col-7 col-lg-3">
                    <img class="float-end" src="../../assets/marco.jpeg" alt="foto" width="70%">
                </div>
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-2">
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-7 col-lg-3">
                    <img src="../../assets/cristian.jpg" alt="foto" width="70%">
                </div>
                <div class="col-5 col-lg-9 my-auto">
                    <p>“Sono un ragazzo di 19 anni con la passione per la programmazione, i videogiochi e gli anime. Sono una persona diretta e non mi piacciono le ingiustizie. Spero che questo progetto possa essere di aiuto al popolo ucraino.”</p>
                    <small>Cristian Di Napoli</small>
                </div>         
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-2">
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-5 col-lg-9 my-auto">
                    <p>“Dalla passione per la programmazione nasce la mia voglia di vivere in questo settore. Sempre attento ai problemi e alla loro risoluzione, mi sono lanciato in questo progetto per aiutare le”</p>
                    <small>Francesco Maddaluno</small>
                </div>  
                <div class="col-7 col-lg-3">
                    <img class="float-end" src="../../assets/maddaluno.jpeg" alt="foto" width="70%">
                </div>
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>
