<div id="sopra" class="bg">
</div>
<div class="container sotto">
  <div class="dropdown">
    <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
      aria-expanded="false">
      <img src="../../assets/arrowz.png" width="50" />
    </button>
    <ul class="dropdown-menu rounded-5" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#"> Abruzzo </a></li>
      <li><a class="dropdown-item" href="#"> Basilicata </a></li>
      <li><a class="dropdown-item" href="#"> Calabria </a></li>
      <li><a class="dropdown-item" href="#"> Campania </a></li>
      <li><a class="dropdown-item" href="#"> Emilia-Romagna </a></li>
      <li><a class="dropdown-item" href="#"> Friuli Venezia Giulia </a></li>
      <li><a class="dropdown-item" href="#"> Lazio </a></li>
      <li><a class="dropdown-item" href="#"> Liguria </a></li>
      <li><a class="dropdown-item" href="#"> Lombardia </a></li>
      <li><a class="dropdown-item" href="#"> Marche </a></li>
      <li><a class="dropdown-item" href="#"> Molise </a></li>
      <li><a class="dropdown-item" href="#"> Piemonte </a></li>
      <li><a class="dropdown-item" href="#"> Puglia </a></li>
      <li><a class="dropdown-item" href="#"> Sardegna </a></li>
      <li><a class="dropdown-item" href="#"> Sicilia </a></li>
      <li><a class="dropdown-item" href="#"> Toscana </a></li>
      <li><a class="dropdown-item" href="#"> Trentino-Alto Adige </a></li>
      <li><a class="dropdown-item" href="#"> Umbria </a></li>
      <li><a class="dropdown-item" href="#"> Valle d'Aosta </a></li>
      <li><a class="dropdown-item" href="#"> Veneto </a></li>
    </ul>
  </div>
  <h1 class="ini">Iniziative In Corso</h1>
  <div class="dropdown filter">
    <button class="btn btn-warning dropdown-toggle rounded-pill" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
      aria-expanded="false">
      <img src="../../assets/filter.png" width="50px" />
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item"> <input type="text" placeholder="Ricerca.."> </a></li> 
      <li><a class="dropdown-item" href="#"> Abruzzo </a></li>
      <li><a class="dropdown-item" href="#"> Basilicata </a></li>
      <li><a class="dropdown-item" href="#"> Calabria </a></li>
      <li><a class="dropdown-item" href="#"> Campania </a></li>
      <li><a class="dropdown-item" href="#"> Emilia-Romagna </a></li>
      <li><a class="dropdown-item" href="#"> Friuli Venezia Giulia </a></li>
      <li><a class="dropdown-item" href="#"> Lazio </a></li>
      <li><a class="dropdown-item" href="#"> Liguria </a></li>
      <li><a class="dropdown-item" href="#"> Lombardia </a></li>
      <li><a class="dropdown-item" href="#"> Marche </a></li>
      <li><a class="dropdown-item" href="#"> Molise </a></li>
      <li><a class="dropdown-item" href="#"> Piemonte </a></li>
      <li><a class="dropdown-item" href="#"> Puglia </a></li>
      <li><a class="dropdown-item" href="#"> Sardegna </a></li>
      <li><a class="dropdown-item" href="#"> Sicilia </a></li>
      <li><a class="dropdown-item" href="#"> Toscana </a></li>
      <li><a class="dropdown-item" href="#"> Trentino-Alto Adige </a></li>
      <li><a class="dropdown-item" href="#"> Umbria </a></li>
      <li><a class="dropdown-item" href="#"> Valle d'Aosta </a></li>
      <li><a class="dropdown-item" href="#"> Veneto </a></li>
    </ul>
  </div>
</div>
<div class="corso row justify-content-around">
  <div class="card">
    <div class="cardcontainer text-center ">
      <img src="../../assets/1.png" height="50%" width="100%">
      <a href="www.google.it">
        <h1 class="titolo">Associazione 1</h1>
      </a>
      <p>BLA BLA BLA BLA BLA BLA <br>
        BLA BLA BLA BLA BLA BLA <br>
        BLA BLA BLA BLA BLA BLA
      </p>
      <button class="rounded-pill"><a class="mail" href="www.google.it">scopri</a></button>
    </div>
  </div>
  <div class="card flex-start col-6">
    <div class="cardcontainer text-center">
      <img src="../../assets/1.png" height="50%" width="100%">
      <a href="www.google.it">
        <h1 class="titolo">Associazione 2</h1>
      </a>
      <p>BLA BLA BLA BLA BLA BLA <br>
        BLA BLA BLA BLA BLA BLA <br>
        BLA BLA BLA BLA BLA BLA
      </p>
      <button class="rounded-pill"><a class="mail" href="www.google.it">scopri</a></button>
    </div>
  </div>
  <div class="card">
    <div class="cardcontainer text-center">
      <img src="../../assets/1.png" height="50%" width="100%">
      <a href="www.google.it">
        <h1 class="titolo">Associazione 3</h1>
      </a>
      <p>BLA BLA BLA BLA BLA BLA <br>
        BLA BLA BLA BLA BLA BLA <br>
        BLA BLA BLA BLA BLA BLA
      </p>
      <button class="rounded-pill"><a class="mail" href="www.google.it">scopri</a></button>
    </div>
  </div>
  <div class="card">
    <div class="cardcontainer text-center">
      <img src="../../assets/1.png" height="50%" width="100%">
      <a href="www.google.it">
        <h1 class="titolo">Associazione 4</h1>
      </a>
      <p>BLA BLA BLA BLA BLA BLA <br>
        BLA BLA BLA BLA BLA BLA <br>
        BLA BLA BLA BLA BLA BLA
      </p>
      <button class="rounded-pill"><a class="mail" href="www.google.it">scopri</a></button>
    </div>
  </div>
  <div class="card">
    <div class="cardcontainer text-center">
      <img src="../../assets/1.png" height="50%" width="100%">
      <a href="www.google.it">
        <h1 class="titolo">Associazione 5</h1>
      </a>
      <p>BLA BLA BLA BLA BLA BLA <br>
        BLA BLA BLA BLA BLA BLA <br>
        BLA BLA BLA BLA BLA BLA
      </p>
      <button class="rounded-pill"><a class="mail" href="www.google.it">scopri</a></button>
    </div>
  </div>
  <div class="card">
    <div class="cardcontainer text-center">
      <img src="../../assets/1.png" height="50%" width="100%">
      <a href="www.google.it">
        <h1 class="titolo">Associazione 6</h1>
      </a>
      <p>BLA BLA BLA BLA BLA BLA <br>
        BLA BLA BLA BLA BLA BLA <br>
        BLA BLA BLA BLA BLA BLA
      </p>
      <button class="rounded-pill"><a class="mail" href="www.google.it">scopri</a></button>
    </div>
  </div>
  <div class="card">
    <div class="cardcontainer text-center">
      <img src="../../assets/1.png" height="50%" width="100%">
      <a href="www.google.it">
        <h1 class="titolo">Associazione 7</h1>
      </a>
      <p>BLA BLA BLA BLA BLA BLA <br>
        BLA BLA BLA BLA BLA BLA <br>
        BLA BLA BLA BLA BLA BLA
      </p>
      <button class="rounded-pill"><a class="mail" href="www.google.it">scopri</a></button>
    </div>
  </div>
  <div class="card">
    <div class="cardcontainer text-center">
      <img src="../../assets/1.png" height="50%" width="100%">
      <a href="www.google.it">
        <h1 class="titolo">Associazione 8</h1>
      </a>
      <p>BLA BLA BLA BLA BLA BLA <br>
        BLA BLA BLA BLA BLA BLA <br>
        BLA BLA BLA BLA BLA BLA
      </p>
      <button class="rounded-pill"><a class="mail" href="www.google.it">scopri</a></button>
    </div>
  </div>
</div>
 <!--
<div class="container scad">
  <div class="dropdown">
    <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
      aria-expanded="false">
      <img src="../../assets/arrowz.png" width="50" />
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#"> Abruzzo </a></li>
      <li><a class="dropdown-item" href="#"> Basilicata </a></li>
      <li><a class="dropdown-item" href="#"> Calabria </a></li>
      <li><a class="dropdown-item" href="#"> Campania </a></li>
      <li><a class="dropdown-item" href="#"> Emilia-Romagna </a></li>
      <li><a class="dropdown-item" href="#"> Friuli Venezia Giulia </a></li>
      <li><a class="dropdown-item" href="#"> Lazio </a></li>
      <li><a class="dropdown-item" href="#"> Liguria </a></li>
      <li><a class="dropdown-item" href="#"> Lombardia </a></li>
      <li><a class="dropdown-item" href="#"> Marche </a></li>
      <li><a class="dropdown-item" href="#"> Molise </a></li>
      <li><a class="dropdown-item" href="#"> Piemonte </a></li>
      <li><a class="dropdown-item" href="#"> Puglia </a></li>
      <li><a class="dropdown-item" href="#"> Sardegna </a></li>
      <li><a class="dropdown-item" href="#"> Sicilia </a></li>
      <li><a class="dropdown-item" href="#"> Toscana </a></li>
      <li><a class="dropdown-item" href="#"> Trentino-Alto Adige </a></li>
      <li><a class="dropdown-item" href="#"> Umbria </a></li>
      <li><a class="dropdown-item" href="#"> Valle d'Aosta </a></li>
      <li><a class="dropdown-item" href="#"> Veneto </a></li>
    </ul>
  </div>
 
  <h1 class="ini">Iniziative Scadute</h1>
  <div class="dropdown filter">
    <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
      aria-expanded="false">
      <img src="../../assets/filter.png" width="50px" />
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item"> <input type="text" placeholder="Ricerca.."> </a></li> 
      <li><a class="dropdown-item" href="#">  Abruzzo </a></li>
      <li><a class="dropdown-item" href="#">  Basilicata </a></li>
      <li><a class="dropdown-item" href="#">  Calabria </a></li>
      <li><a class="dropdown-item" href="#">  Campania </a></li>
      <li><a class="dropdown-item" href="#">  Emilia-Romagna </a></li>
      <li><a class="dropdown-item" href="#">  Friuli Venezia Giulia </a></li>
      <li><a class="dropdown-item" href="#"> Lazio </a></li>
      <li><a class="dropdown-item" href="#"> Liguria </a></li>
      <li><a class="dropdown-item" href="#"> Lombardia </a></li>
      <li><a class="dropdown-item" href="#"> Marche </a></li>
      <li><a class="dropdown-item" href="#"> Molise </a></li>
      <li><a class="dropdown-item" href="#"> Piemonte </a></li>
      <li><a class="dropdown-item" href="#"> Puglia </a></li>
      <li><a class="dropdown-item" href="#"> Sardegna </a></li>
      <li><a class="dropdown-item" href="#"> Sicilia </a></li>
      <li><a class="dropdown-item" href="#"> Toscana </a></li>
      <li><a class="dropdown-item" href="#"> Trentino-Alto Adige </a></li>
      <li><a class="dropdown-item" href="#"> Umbria </a></li>
      <li><a class="dropdown-item" href="#"> Valle d'Aosta </a></li>
      <li><a class="dropdown-item" href="#"> Veneto </a></li>
    </ul>
  </div>
</div>
<div class="scadute justify-content-around">
  <div class="card block">
    <div class="cardcontainer text-center">
      <img src="../../assets/1.png" height="50%" width="100%">
      <a href="www.google.it">
        <h1 class="titolo">Associazione 1</h1>
      </a>
      <p>BLA BLA BLA BLA BLA BLA<br>
        BLA BLA BLA BLA BLA BLA<br>
        BLA BLA BLA BLA BLA BLA
      </p>
      <button class="rounded-pill"><a class="mail" href="www.google.it">scopri</a></button>
    </div>
  </div>
  <div class="card">
    <div class="cardcontainer text-center">
      <img src="../../assets/1.png" height="50%" width="100%">
      <a href="www.google.it">
        <h1 class="titolo">Associazione 2</h1>
      </a>
      <p>BLA BLA BLA BLA BLA BLA <br>
        BLA BLA BLA BLA BLA BLA <br>
        BLA BLA BLA BLA BLA BLA
      </p>
      <button class="rounded-pill"><a class="mail" href="www.google.it">scopri</a></button>
    </div>
  </div>
  <div class="card">
    <div class="cardcontainer text-center">
      <img src="../../assets/1.png" height="50%" width="100%">
      <a href="www.google.it">
        <h1 class="titolo">Associazione 3</h1>
      </a>
      <p>BLA BLA BLA BLA BLA BLA <br>
        BLA BLA BLA BLA BLA BLA <br>
        BLA BLA BLA BLA BLA BLA
      </p>
      <button class="rounded-pill"><a class="mail" href="www.google.it">scopri</a></button>
    </div>
  </div>
</div>
-->
 