.bg {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../../assets/cover-iniziative.png);
}
#sopra{
    display: block;
    height: 100vh;
    padding: 0;
    margin-top: -90px;      
}
.ini {
    display: flex;
    position: absolute;
    color:black;
    margin-left: 8%;
}
.btn {
    border-radius: 80%;
}
.dropdown-menu {
    background-color: #ffd500;
}
.sotto {
    display: flex;
    position: absolute;
    margin-top: 2%;
    margin-left: 20%;        
}
.filter {
    margin-left: 30%;
}
.scad{
    display: flex;
    position: absolute;
    margin-top: 45%;
    margin-left: 20%;
}
div.card{
    white-space:normal;
    border-radius: 30px;
    display:flex;
    flex-direction: column;
    padding-top: 2vh;
    align-items: center;
    color: black;
    margin: 20px 0px 20px 10px;
    flex-basis: 40vh;
    flex-grow: 0;
    flex-shrink: 0;
    background-color:  #0472b3;
    text-align: left;
}
div.cardcontainer{
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
div.card > img {
    border-radius: 30px;
}
.corso {
    display:flex;
    position:row;
    margin-top: 10%;

    
}
.scadute{
    display:flex;
    position:row;
    margin-top: 50%;
    
}
.cardcontainer > button {
    background-color:#ffd500;
    width: 100px;
    margin-left: 150px;
}
 a, a:hover, a:focus, a:active{
    text-decoration: none;
    color: inherit;
}