<div id="sopra">
</div>
<div class="container sotto">
  <div class="dropdown">
    <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
      aria-expanded="false">
      <img src="../../assets/arrowz.png" width="50" />
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#"> 1. Abruzzo </a></li>
      <li><a class="dropdown-item" href="#"> 2. Basilicata </a></li>
      <li><a class="dropdown-item" href="#"> 3. Calabria </a></li>
      <li><a class="dropdown-item" href="#"> 4. Campania </a></li>
      <li><a class="dropdown-item" href="#"> 5. Emilia-Romagna </a></li>
      <li><a class="dropdown-item" href="#"> 6. Friuli Venezia Giulia </a></li>
      <li><a class="dropdown-item" href="#"> 7. Lazio </a></li>
      <li><a class="dropdown-item" href="#"> 8. Liguria </a></li>
      <li><a class="dropdown-item" href="#"> 9. Lombardia </a></li>
      <li><a class="dropdown-item" href="#">10. Marche </a></li>
      <li><a class="dropdown-item" href="#">11. Molise </a></li>
      <li><a class="dropdown-item" href="#">12. Piemonte </a></li>
      <li><a class="dropdown-item" href="#">13. Puglia </a></li>
      <li><a class="dropdown-item" href="#">14. Sardegna </a></li>
      <li><a class="dropdown-item" href="#">15. Sicilia </a></li>
      <li><a class="dropdown-item" href="#">16. Toscana </a></li>
      <li><a class="dropdown-item" href="#">17. Trentino-Alto Adige </a></li>
      <li><a class="dropdown-item" href="#">18. Umbria </a></li>
      <li><a class="dropdown-item" href="#">19. Valle d'Aosta </a></li>
      <li><a class="dropdown-item" href="#">20. Veneto </a></li>
    </ul>
  </div>
  <h1 class="ini">Iniziative In Corso</h1>
  <div class="dropdown filter">
    <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
      aria-expanded="false">
      <img src="../../assets/filter.png" width="50px" />
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#"> 1. Abruzzo </a></li>
      <li><a class="dropdown-item" href="#"> 2. Basilicata </a></li>
      <li><a class="dropdown-item" href="#"> 3. Calabria </a></li>
      <li><a class="dropdown-item" href="#"> 4. Campania </a></li>
      <li><a class="dropdown-item" href="#"> 5. Emilia-Romagna </a></li>
      <li><a class="dropdown-item" href="#"> 6. Friuli Venezia Giulia </a></li>
      <li><a class="dropdown-item" href="#"> 7. Lazio </a></li>
      <li><a class="dropdown-item" href="#"> 8. Liguria </a></li>
      <li><a class="dropdown-item" href="#"> 9. Lombardia </a></li>
      <li><a class="dropdown-item" href="#">10. Marche </a></li>
      <li><a class="dropdown-item" href="#">11. Molise </a></li>
      <li><a class="dropdown-item" href="#">12. Piemonte </a></li>
      <li><a class="dropdown-item" href="#">13. Puglia </a></li>
      <li><a class="dropdown-item" href="#">14. Sardegna </a></li>
      <li><a class="dropdown-item" href="#">15. Sicilia </a></li>
      <li><a class="dropdown-item" href="#">16. Toscana </a></li>
      <li><a class="dropdown-item" href="#">17. Trentino-Alto Adige </a></li>
      <li><a class="dropdown-item" href="#">18. Umbria </a></li>
      <li><a class="dropdown-item" href="#">19. Valle d'Aosta </a></li>
      <li><a class="dropdown-item" href="#">20. Veneto </a></li>
    </ul>
  </div>
</div>
<div class="corso">
  <div class="card">
    <div class="cardcontainer">
      <img src="../../assets/1.png" height="50%" width="100%">
      <a align="center" href="www.google.it">
        <h1 class="titolo">Associazione 1</h1>
      </a>
      <p align="center">BLA BLA BLA BLA BLA BLA <br>
        BLA BLA BLA BLA BLA BLA <br>
        BLA BLA BLA BLA BLA BLA
      </p>
      <button><a align="center" class="mail" href="www.google.it">scopri</a></button>
    </div>
  </div>
  <div class="card">
    <div class="cardcontainer">
      <img src="../../assets/1.png" height="50%" width="100%">
      <a align="center" href="www.google.it">
        <h1 class="titolo">Associazione 2</h1>
      </a>
      <p align="center">BLA BLA BLA BLA BLA BLA <br>
        BLA BLA BLA BLA BLA BLA <br>
        BLA BLA BLA BLA BLA BLA
      </p>
      <button><a align="center" class="mail" href="www.google.it">scopri</a></button>
    </div>
  </div>
  <div class="card">
    <div class="cardcontainer">
      <img src="../../assets/1.png" height="50%" width="100%">
      <a align="center" href="www.google.it">
        <h1 class="titolo">Associazione 3</h1>
      </a>
      <p align="center">BLA BLA BLA BLA BLA BLA <br>
        BLA BLA BLA BLA BLA BLA <br>
        BLA BLA BLA BLA BLA BLA
      </p>
      <button><a align="center" class="mail" href="www.google.it">scopri</a></button>
    </div>
  </div>
</div>
<div class="container scad">
  <div class="dropdown">
    <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
      aria-expanded="false">
      <img src="../../assets/arrowz.png" width="50" />
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#"> 1. Abruzzo </a></li>
      <li><a class="dropdown-item" href="#"> 2. Basilicata </a></li>
      <li><a class="dropdown-item" href="#"> 3. Calabria </a></li>
      <li><a class="dropdown-item" href="#"> 4. Campania </a></li>
      <li><a class="dropdown-item" href="#"> 5. Emilia-Romagna </a></li>
      <li><a class="dropdown-item" href="#"> 6. Friuli Venezia Giulia </a></li>
      <li><a class="dropdown-item" href="#"> 7. Lazio </a></li>
      <li><a class="dropdown-item" href="#"> 8. Liguria </a></li>
      <li><a class="dropdown-item" href="#"> 9. Lombardia </a></li>
      <li><a class="dropdown-item" href="#">10. Marche </a></li>
      <li><a class="dropdown-item" href="#">11. Molise </a></li>
      <li><a class="dropdown-item" href="#">12. Piemonte </a></li>
      <li><a class="dropdown-item" href="#">13. Puglia </a></li>
      <li><a class="dropdown-item" href="#">14. Sardegna </a></li>
      <li><a class="dropdown-item" href="#">15. Sicilia </a></li>
      <li><a class="dropdown-item" href="#">16. Toscana </a></li>
      <li><a class="dropdown-item" href="#">17. Trentino-Alto Adige </a></li>
      <li><a class="dropdown-item" href="#">18. Umbria </a></li>
      <li><a class="dropdown-item" href="#">19. Valle d'Aosta </a></li>
      <li><a class="dropdown-item" href="#">20. Veneto </a></li>
    </ul>
  </div>
  <h1 class="ini">Iniziative Scadute</h1>
  <div class="dropdown filter">
    <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
      aria-expanded="false">
      <img src="../../assets/filter.png" width="50px" />
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#"> 1. Abruzzo </a></li>
      <li><a class="dropdown-item" href="#"> 2. Basilicata </a></li>
      <li><a class="dropdown-item" href="#"> 3. Calabria </a></li>
      <li><a class="dropdown-item" href="#"> 4. Campania </a></li>
      <li><a class="dropdown-item" href="#"> 5. Emilia-Romagna </a></li>
      <li><a class="dropdown-item" href="#"> 6. Friuli Venezia Giulia </a></li>
      <li><a class="dropdown-item" href="#"> 7. Lazio </a></li>
      <li><a class="dropdown-item" href="#"> 8. Liguria </a></li>
      <li><a class="dropdown-item" href="#"> 9. Lombardia </a></li>
      <li><a class="dropdown-item" href="#">10. Marche </a></li>
      <li><a class="dropdown-item" href="#">11. Molise </a></li>
      <li><a class="dropdown-item" href="#">12. Piemonte </a></li>
      <li><a class="dropdown-item" href="#">13. Puglia </a></li>
      <li><a class="dropdown-item" href="#">14. Sardegna </a></li>
      <li><a class="dropdown-item" href="#">15. Sicilia </a></li>
      <li><a class="dropdown-item" href="#">16. Toscana </a></li>
      <li><a class="dropdown-item" href="#">17. Trentino-Alto Adige </a></li>
      <li><a class="dropdown-item" href="#">18. Umbria </a></li>
      <li><a class="dropdown-item" href="#">19. Valle d'Aosta </a></li>
      <li><a class="dropdown-item" href="#">20. Veneto </a></li>
    </ul>
  </div>
</div>
<div class="scadute">
  <div class="card">
    <div class="cardcontainer">
      <img src="../../assets/1.png" height="50%" width="100%">
      <a align="center" href="www.google.it">
        <h1 class="titolo">Associazione 1</h1>
      </a>
      <p align="center">BLA BLA BLA BLA BLA BLA<br>
        BLA BLA BLA BLA BLA BLA<br>
        BLA BLA BLA BLA BLA BLA
      </p>
      <button><a align="center" class="mail" href="www.google.it">scopri</a></button>
    </div>
  </div>
  <div class="card">
    <div class="cardcontainer">
      <img src="../../assets/1.png" height="50%" width="100%">
      <a align="center" href="www.google.it">
        <h1 class="titolo">Associazione 2</h1>
      </a>
      <p align="center">BLA BLA BLA BLA BLA BLA <br>
        BLA BLA BLA BLA BLA BLA <br>
        BLA BLA BLA BLA BLA BLA
      </p>
      <button><a align="center" class="mail" href="www.google.it">scopri</a></button>
    </div>
  </div>
  <div class="card">
    <div class="cardcontainer">
      <img src="../../assets/1.png" height="50%" width="100%">
      <a align="center" href="www.google.it">
        <h1 class="titolo">Associazione 3</h1>
      </a>
      <p align="center">BLA BLA BLA BLA BLA BLA <br>
        BLA BLA BLA BLA BLA BLA <br>
        BLA BLA BLA BLA BLA BLA
      </p>
      <button><a align="center" class="mail" href="www.google.it">scopri</a></button>
    </div>
  </div>
</div>
