#banner {
    background-image: url(../../assets/cover-home.png);
    background-repeat: no-repeat;
    background-position-y:top;
    background-size: 100% 100%;
    min-height: 90vh;
    min-width: 100vw;
    margin-top: -80px;
}