#banner {
    background-image: url(../../assets/cover-home.png);
    background-repeat: no-repeat;
    background-position-y:center;
    background-size: 100vw 100vh;
    height: 100vh;
    min-width: 100vw;
    margin-top: -80px;
    font-size: 18px;
    font-weight: bolder;
}

#bloccobanner {
    position: relative;
    top: 30%;
    text-align: center;

}

.logo {
    max-height: 40vh;
    max-width: 20vw;
    margin-left: 5x;
}
