.ultimeIniziative {
  background-color: white;
  height: fit-content;
  max-width: 100vw;
}


.titolo {
  padding: 10px;
  text-align: center;
  font-size: 10vmin;
  color: #0472b3;
  font-weight: 700;
}

.card {
  padding: 5px;
  margin-bottom: 10px;
  background-color: #0472b3;
  border-radius: 40px;
  text-align: center;
  width: 100%;
  height: fit-content;
  font-size: 60%;
}

.card h1 {
  font-size: 20%;
}

.card img {
  border-radius: 20px;
  width: 30%;
  height: auto;
  margin: 0 auto;
}

.card h1 {
  margin-top: 10px;
  font-weight: 600;
}

.card button {
  color: black;
  font-size: 1vw;
  font-weight: 600;
  width: 50%;
  height: auto;
  border-radius: 30px;
  border-style: none;
  background-color: #ffd500;
  margin: 5px auto;

}
