<section class="ultimeIniziative container">
  <div class="titolo text-uppercase">
    <h2>Iniziative recenti</h2>
  </div>
  <div class="iniziativeContainer row">
    <div class="col-md-4">
      <div class="card h-auto">
        <img src="..\..\assets\iniziativePlaceholder1.jpg">
        <h1>Placeholder :)</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Cras vitae fermentum sapien, sit amet congue erat.
          Etiam tincidunt a diam a viverra.
          Donec convallis scelerisque ex, ac faucibus ante lobortis tincidunt.
          Proin congue nisl et justo tincidunt lacinia.
        </p>
        <button>
          Scopri
        </button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-auto">
        <img src="..\..\assets\iniziativePlaceholder1.jpg">
        <h1>Placeholder :)</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Cras vitae fermentum sapien, sit amet congue erat.
          Etiam tincidunt a diam a viverra.
          Donec convallis scelerisque ex, ac faucibus ante lobortis tincidunt.
          Proin congue nisl et justo tincidunt lacinia.
        </p>
        <button>
          Scopri
        </button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-auto">
        <img src="..\..\assets\iniziativePlaceholder1.jpg">
        <h1>Placeholder :)</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Cras vitae fermentum sapien, sit amet congue erat.
          Etiam tincidunt a diam a viverra.
          Donec convallis scelerisque ex, ac faucibus ante lobortis tincidunt.
          Proin congue nisl et justo tincidunt lacinia.
        </p>
        <button>
          Scopri
        </button>
      </div>
    </div>
  </div>
</section>
