<section class="ultimeIniziative">
    <div class="titolo">INIZIATIVE RECENTI</div>
    <div class="iniziativeContainer row">
        <div class="card col-lg-4 col-md-6 col-sm-12">
            <img src="..\..\assets\iniziativePlaceholder1.jpg">
            <h1>Placeholder :)</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Cras vitae fermentum sapien, sit amet congue erat. 
                Etiam tincidunt a diam a viverra. 
                Donec convallis scelerisque ex, ac faucibus ante lobortis tincidunt. 
                Proin congue nisl et justo tincidunt lacinia. 
            </p>
            <button>
                Scopri
            </button>
        </div>

        <div class="card col-lg-4 col-md-6 col-sm-12">
            <img src="..\..\assets\iniziativePlaceholder1.jpg">
            <h1>Placeholder :)</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Cras vitae fermentum sapien, sit amet congue erat. 
                Etiam tincidunt a diam a viverra. 
                Donec convallis scelerisque ex, ac faucibus ante lobortis tincidunt. 
                Proin congue nisl et justo tincidunt lacinia. 
            </p>
            <button>
                Scopri
            </button>
        </div>

        <div class="card col-lg-4 col-md-6 col-sm-12">
            <img src="..\..\assets\iniziativePlaceholder1.jpg">
            <h1>Placeholder :)</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Cras vitae fermentum sapien, sit amet congue erat. 
                Etiam tincidunt a diam a viverra. 
                Donec convallis scelerisque ex, ac faucibus ante lobortis tincidunt. 
                Proin congue nisl et justo tincidunt lacinia. 
            </p>
            <button>
                Scopri
            </button>
        </div>
    </div>
</section>