<section class="ultimeStorie">

  <h2 class="titolo" style="text-align: center; color: white; font-size: 5vmin;">ULTIME STORIE</h2>

  <div class="grid-container mt-3">
    <div class="box1">
      <div>
        <img src="../../assets/1.png" alt="ucraina" class="box-image">
      </div>
      <div class="box-text">
        <h2 style="font-size: 5vh;">ho cambiato</h2>
        <p>blablabla</p>
      </div>
      <div>
        <a href="#" class="link-leggi">Leggi</a>
      </div>
    </div>
    <div class="box2">
      <div>
        <img src="../../assets/2.png" alt="ucraina" class="box-image">
      </div>
      <div class="box-text">
        <h2 style="font-size: 5vh;">blablabla</h2>
        <p>blablabla</p>
      </div>
      <div>
        <a href="#" class="link-leggi">Leggi</a>
      </div>
    </div>
    <div class="box3">
      <div>
        <img src="../../assets/3.png" alt="ucraina" class="box-image">
      </div>
      <div class="box-text">
        <h2 style="font-size: 5vh;">blablabla</h2>
        <p>blablabla</p>
      </div>
      <div>
        <a href="#" class="link-leggi">Leggi</a>
      </div>
    </div>
    <div class="box4">
      <div>
        <img src="../../assets/4.png" alt="ucraina" class="box-image">
      </div>
      <div class="box-text">
        <h2 style="font-size: 5vh;">blablabla</h2>
        <p>blablabla</p>
      </div>
      <a href="#" class="link-leggi">Leggi</a>
    </div>
    <div id="mostra-tutti">
      <a href="#" class="link-leggi">Mostra tutti</a>
    </div>
  </div>
</section>
